.footer {
      background-color: var(--text-dark);
      color: white;
      padding: 60px 20px 30px;
    }

    .footer-container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 30px;
    }

    .footer-column h3,
    .footer-column h4 {
      color: white;
    }

    .footer-column a {
      color: white;
      text-decoration: none;
      transition: 0.3s;
      list-style: none;
    }

    .footer-column a:hover {
      color: #38bdf8;
    }
    /* for the index page  */
    .center{
        text-align: center;
    }